/* Genaral settings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: dosis;
}

ul {
  list-style: none;
}

body {
  background-color: rgb(245, 139, 139);
}

button,
input {
  background-color: #00ba38;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 100px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.61);
}

/* ----  HeaderBar Component (Start)  -----*/
.HeaderBar {
  height: 50px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: right;
}

.HeaderBar button {
  height: auto;
  margin-right: 10px;
}

.HeaderBar button:hover,
input:hover {
  transform: scale(110%);
}
/* ----  HeaderBar Component (End)  -----*/

/* Page Settings*/
.main-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 50px;
}

.banner-wrapper {
  max-width: 1200px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 0 0;
  margin-bottom: 10px;
}

.sub-wrapper {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
}
.image-container {
  width: 40%;
  padding: 20px;
  margin: auto;
}

.image-container img {
  width: 100%;
}

.form-container {
  width: 60%;
  background-color: rgba(218, 202, 209, 0.425);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text-area {
  overflow: auto;
  width: 90%;
  height: 100px;
  border: none;
  border-radius: 5px;
  resize: none;
}

/*Display Area*/
.display {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 40% 60%;
}

/*  TO DO  (change responsiveness for student and teacher) */
/* TO DO */
/* TO DO */
/* TO DO */
/* TO DO */
/* TO DO */
/* TO DO */
/*----------For Computers -----------*/
@media (max-width: 1400px) {
}

/*-----------For Tablets--------------*/
@media (max-width: 1200px) {
  .banner-wrapper {
    display: block;
    background-color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 0px;
  }

  .image-container {
    padding: 0px;
  }

  .form-container {
    width: auto;
    background-color: rgba(218, 202, 209, 0.425);
    margin-top: 5px;
  }

  .button-container {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/*--------------For Phones--------------*/
@media (max-width: 480px) {
  .image-container {
    width: 100%;
    margin: auto;
    padding: 0px;
  }

  .image-container img {
    width: 100%;
    padding: 0px;
  }

  .button-container {
    margin: 0px;
  }

  button {
    display: grid;
    border-radius: 0px;
    width: 100%;
    margin: 10px auto;
  }

  button:hover {
    transform: none;
  }
}
